//@use 'libs/breakpoint' as *;

@use 'sass:math';
@use 'sass:color';

/* Variables for styling
------------------------------------------------------------------- */
$primary: #015982;
$secondary: #ffd15e;
$tertiary: #938ba1;
$accent-1: #941c2f;
$accent-2: #0c4f1d;

// define rem-calc function
@function rem-calc($px) {
  @return math.div($px, 16) * 1rem;
}

/* Override theme styles
------------------------------------------------------------------- */

.navbar {
  font-size: 0.75em;

  .nav-item {
    padding: 0.25em 0.5em;
  }

  .nav-item-right:last-child {
    margin-right: 1em;
  }
}

/* Custom Styles
------------------------------------------------------------------- */

.main {
  > .content {
    &.style5 {
      background: url('images/bgtr.svg') top right no-repeat, url('images/bgbl.svg') bottom left no-repeat, url('images/overlay.png'), linear-gradient(45deg, #5f796b, #3a4e59, #2f394e);

      & > .container {
        &>h1, &>h2, &>h3, &>h4, &>h5, &>h6 {
          margin: 3rem auto;
        }
      }
    }
  }
}

/* Ensure images in articles are scaled properly
------------------------------------------------------------------- */

img {
  width: 60%;
  height: auto;
  max-width: 100%;
  margin: rem-calc(16) auto;
  display: block;
  border-radius: rem-calc(4);
  aspect-ratio: auto;

  @media (max-width: 768px) {
    margin: rem-calc(8) auto;
    aspect-ratio: unset;
  }
}

/* Flex classes for profile cards
------------------------------------------------------------------- */

.team {
  .row {
    justify-content: start;
  }

  .card {
    height: 100%;
  }

  .flex-container {
    height: 100%;
    justify-content: flex-start;

//    @include breakpoint('<=narrow') {
//      flex-direction: column;
//      text-align: center;
//    }

    .card-section {
      flex: 2;
    }
    img.card-image {
      margin: 0;
      width: 100%;
      height: fit-content;
      max-width: rem-calc(192);
      margin-right: rem-calc(16);
    }
    img.profile-circle {
      min-width: 100%;
      border: 0px solid grey-2;
      border-radius: 50%;
      aspect-ratio: 1/1;
      margin: rem-calc(16) 0;

//      @include breakpoint('<=narrow') {
//        margin: rem-calc(16) auto;
//      }

      &.border-light {
        border: rem-calc(2) solid grey-2;
      }
      &.border-dark {
        border: rem-calc(2) solid grey-16;
      }
      &.border-primary {
        border: rem-calc(2) solid $primary;
      }
      &.border-secondary {
        border: rem-calc(2) solid $secondary;
      }
    }

    .card-section {
      display: flex;
      flex-direction: column;
      align-self: flex-end;

      a {
        align-self: end;
        margin: 0 auto;
        padding: 0.85em 1.5em;
      }
    }
  }
}

// cards for the news layout
#news-container {
  .card {
    border: rem-calc(2) solid black;
    border-radius: rem-calc(8);
    margin-bottom: rem-calc(16);

//    @include breakpoint('<=narrow') {
//      margin-bottom: rem-calc(8);
//    }

    &:first-child {
      margin-top: rem-calc(16);
    }
  }

  .card-image {
    width: 100%;
    height: auto;
    max-width: 100%;
    margin: 0;
    border-radius: rem-calc(4) rem-calc(4) 0 0;
    aspect-ratio: 2;
    object-fit: cover;
  }

  .card-section {
    padding: rem-calc(16);

//    @include breakpoint('<=narrow') {
//      padding: rem-calc(8);
//    }
  }
}

/* Flex and flex-box related classes
------------------------------------------------------------------- */

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > .flex-item {
    flex: 1 1 auto;
  }
}
.flex-row {
  flex-direction: row;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

/* Custom table styles
------------------------------------------------------------------- */
table.table-bordered {
  text-align: left;
  width: 100%;
  margin: rem-calc(16) auto;

  th, td {
    border: rem-calc(1) solid $primary;
    padding: rem-calc(8);
    text-align: left;
  }

  th {
    background-color: $primary;
    color: white;
  }

  tr:nth-child(even) {
    color: white;
    background-color: color.adjust($primary, $lightness: -10%);
  }
}

table.desktop-table {
  @media (max-width: 768px) {
    display: none;
  }
  @media (min-width: 768px) {
    display: table;
  }
}

table.mobile-table {
  @media (max-width: 768px) {
    display: table;
  }
  @media (min-width: 768px) {
    display: none;
  }
}

